<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Keitel Anana Resume</title>
    <script src="https://kit.fontawesome.com/5758f2a779.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/style.css" type="text/css" />
  </head>
  <body>
    <!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">Keitel Anana</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#link-resume">Resume</a>
          </li>
          <li class="nav-item" id="no-display-skills">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--End of Navigation-->
    <!--Main Image-->
    <div class="container-fluid">
      <div class="main-image">
        <div class="introduction">
          <h1 class="text-center">I'm Keitel.</h1>
          <h6 class="text-center"><a class="nav-to-contact" href="#contact">Let's make something awesome!</a>
          </h6>
        </div>
      </div>
    </div>
    <!--End of Main Image-->
    <!--Resume-->
    <div class="row" id="link-resume">
      <h2 class="text-center">RESUME</h2>
    </div>
    <section id="about-me" class="container-fluid">
      <div id="left-about">
        <div class="left-about-heading">
          <h2>Who am I? <i class="far fa-user-circle"></i></h2>
          <hr>
          <p>A third year Computer Science student at UOA who fell in love with creating projects and solving the problems that come with it.
          </p>
        </div>
        <div class="left-about-heading">
          <h2>Why me? <i class="far fa-handshake"></i></h2>
          <hr>
          <p>
            What I lack in experience, I make up for hard work and dedication. I am always trying to improve and
            learn new skills.
          </p>
        </div>
      </div>
      <div id="right-about">
        <div class="right-about-heading">
          <h2>Skills <i class="fas fa-laptop-code"></i></h2>
          <hr>
          <p>Python, Java, SQL, CSS, HTML, JavaScript, Figma</p>
        </div>
        <div class="right-about-heading">
          <h2>Hobbies <i class="fas fa-guitar"></i></h2>
          <hr>
          <p>Computer games, Working on projects, Reading, Piano, Learning new languages and Etc.
          </p>
        </div>
      </div>
      <div id="center-about">
        <div id="circle-container">
          <div id="circle-cover-bg"></div>
        </div>
      </div>
    </section>
    <!--End of resume-->
    <!--Progress bar-->
    <div class="container-fluid projects-heading" id="projects">
      <h2 class="text-center text-uppercase">Projects</h2>
      <h4 class="text-center text-uppercase">Coming soon... (Check them out in my GitHub!)</h4>
    </div>
    <section class="projects container-fluid">
      <!-- <div class="row">
        <div class="project">
            <div class="project-image">
              <img src="static/images/capitulo.png" alt="Library Web Application">
            </div>
        </div>
      </div>
      -->
    </section>
    <!--contact-->
    <section class="container-fluid" id="contact">
      <div class="row">
        <div class="col contact-heading">
          <h2 class="text-center"> CONTACT </h2>
          <div class="center-form">
            <form>
              <input type="text" name="name" id="fullname" class="form-control" placeholder="Name" required/>
              <input type="email" name="email" id="emailaddress" class="form-control" placeholder="Email" required/>
              <textarea rows="4" name="projectsummary" id="projectsummary" class="form-control" placeholder="Project idea" required> </textarea>
              <div class="form-row text-center">
                <div class="col">
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--End of contact page-->
    <!--footer -->
    <footer class="container-fluid footer-padding">
      <div class="row">
        <div class="col-sm-4 footer-contact">
          <p>Keitel Anana | +642040657185 | Keitelwinslet@gmail.com</p>
        </div>
        <div class="col-sm-4 copy-right">
          <p class="text-uppercase"> All rights reserved 2021</p>
        </div>
        <div class="col-sm-4 align-icons">
          <ul>
            <li class="list-inline-item">
              <a target="_blank"
                href="https://linkedin.com/in/keitelanana"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="list-inline-item">
              <a target="_blank"
                href="https://github.com/kana140?tab=repositories"><i class="fab fa-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <!--End of footer-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </body>
</html>